wp-config.php
license.txt
readme.html
wp-activate.php
wp-comments-post.php
wp-config-sample.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php

.DS_Store

wp-admin/
wp-includes/

wp-content/.DS_Store
wp-content/upgrade/*
wp-content/uploads/*
wp-content/backup-db/*
wp-content/cache/*
wp-content/cache/supercache/*
wp-content/w3tc-cache/*
wp-content/debug.log

wp-content/themes/.DS_Store
wp-content/themes/understrap
wp-content/themes/disbydem
wp-content/themes/dbdtheme/.sass-cache
wp-content/themes/dbdtheme/bower_components
wp-content/themes/dbdtheme/node_modules
wp-content/themes/dbdtheme/understrap.zip
wp-content/themes/dbdtheme/dist
wp-content/themes/dbdtheme/dist-product
wp-content/themes/dbdtheme/npm-debug.log
wp-content/themes/dbdtheme/vendor/

wp-content/plugins/
!wp-content/plugins/cc-vortex

# ignore local .vscode configuration
.vscode/